.navbar_container {
  background-color: #333;
  overflow: hidden;
}
.navbar_container a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.navbar_container a:hover {
  background-color: #ddd;
  color: black;
}