table {
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    
}

h2 {
  text-align: center;
  color: aliceblue;
  font-size: 300%;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

body {
background-image: url("../bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

th, td {
    border: 1px solid black;
    margin: 25px 0;
    border-collapse: collapse;
    padding: 5px;
}

tr {
    background-color: white;
    color:  black;
    text-align: left;
}
  
tr:hover {
  background-color: lightblue;
  
}